<a href="https://colab.research.google.com/github/Giraldo7/demo.cda.2021.1s/blob/main/Clase13321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Trabajar con archivos CSV
%%writefile data.csv
"indice", "letra", "valor"
1,A,1000
2,B,2000
3,C,3000

Overwriting data.csv

In [3]:
with open('data.csv','r') as file:
  for line in file:
    print(line, end='')

"indice", "letra", "valor"
1,A,1000
2,B,2000
3,C,3000

In [11]:
df= [
     ["indice", "Nombre", "Valor"],
     [1, "A", 1.01],
     [2, "B", 2.02],
     [3, "C", 3.03],
     [4, "D", 4.04],
     [5, "E", 5.05]
         
]
df

[['indice', 'Nombre', 'Valor'],
 [1, 'A', 1.01],
 [2, 'B', 2.02],
 [3, 'C', 3.03],
 [4, 'D', 4.04],
 [5, 'E', 5.05]]

In [17]:
import csv
with open('data.txt','w') as file:
  wrt = csv.writer(
        file, 
        delimiter='_',
        quoting=csv.QUOTE_NONNUMERIC,
  )
  for row in df:
      wrt.writerow(row)

In [18]:
!cat data.txt

"indice"_"Nombre"_"Valor"
1_"A"_1.01
2_"B"_2.02
3_"C"_3.03
4_"D"_4.04
5_"E"_5.05

In [19]:
with open("data.txt","r") as file:
  rdr = csv.reader(
      file,
      delimiter="_",
      quoting=csv.QUOTE_ALL,
      
  )
  for row in rdr:
    print(row)

['indice', 'Nombre', 'Valor']
['1', 'A', '1.01']
['2', 'B', '2.02']
['3', 'C', '3.03']
['4', 'D', '4.04']
['5', 'E', '5.05']

In [20]:
import json
json.dumps(df)

'[["indice", "Nombre", "Valor"], [1, "A", 1.01], [2, "B", 2.02], [3, "C", 3.03], [4, "D", 4.04], [5, "E", 5.05]]'

In [21]:
json.dumps(
    df,
    sort_keys=True,
    indent=2,
)

'[\n  [\n    "indice",\n    "Nombre",\n    "Valor"\n  ],\n  [\n    1,\n    "A",\n    1.01\n  ],\n  [\n    2,\n    "B",\n    2.02\n  ],\n  [\n    3,\n    "C",\n    3.03\n  ],\n  [\n    4,\n    "D",\n    4.04\n  ],\n  [\n    5,\n    "E",\n    5.05\n  ]\n]'

In [23]:
print(
    json.dumps(
    df,
    sort_keys=True,
    indent=2,
)

)

[
  [
    "indice",
    "Nombre",
    "Valor"
  ],
  [
    1,
    "A",
    1.01
  ],
  [
    2,
    "B",
    2.02
  ],
  [
    3,
    "C",
    3.03
  ],
  [
    4,
    "D",
    4.04
  ],
  [
    5,
    "E",
    5.05
  ]
]

In [24]:
json.loads(df)

TypeError: ignored

In [25]:
with open("data.json", "w") as file:
  json.dump(
      obj=df,
      fp=file
  )

In [26]:
with open("data.json", "r") as file:
  x=json.load(fp=file)
x

[['indice', 'Nombre', 'Valor'],
 [1, 'A', 1.01],
 [2, 'B', 2.02],
 [3, 'C', 3.03],
 [4, 'D', 4.04],
 [5, 'E', 5.05]]

In [27]:
import pickle

In [28]:
with open("data.pickle","wb") as file:
  pickle.dump(
      obj=df,
      file=file,
  )
del df

In [29]:
df

NameError: ignored

In [31]:
with open("data.pickle","rb") as file:
  df=pickle.load(file)
df

[['indice', 'Nombre', 'Valor'],
 [1, 'A', 1.01],
 [2, 'B', 2.02],
 [3, 'C', 3.03],
 [4, 'D', 4.04],
 [5, 'E', 5.05]]

In [32]:
#Listas, tuplas y diccionarios
a=[1,2,3,4,5]

In [33]:
a.append(6)

In [34]:
a

[1, 2, 3, 4, 5, 6]

In [35]:
b=[7,8,9]
a.extend(b)

In [36]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
b=[]
for e in a:
  if e > 4:
    b.append(e)

b

[5, 6, 7, 8, 9]

In [43]:
b=[e for e in a if e > 4]
b

[5, 6, 7, 8, 9]

In [44]:
for w in filter(lambda u: u > 4, a):
  print(w)

5
6
7
8
9

In [45]:
#sumarle 10 a todos los elementos
for i,_ in enumerate(a):
  a[i] += 10
a

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
[u+10 for u in a]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(map(lambda u: u+10, a))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
a, *middle, c=[1,2,3,4,5]
a, middle, c

(1, [2, 3, 4], 5)

In [53]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
# formar una lista con elementos no repetidos
result=[]
for x in [1,2,3]:
  for y in [3,1,4]:
    if x != y:
      result.append((x,y))
result

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [58]:
# Forma comprensiva
[(x,y) for x in [1,2,3] for y in [3,1,4] if x !=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [59]:
["linea " + str(i) for i in range(10)]

['linea 0',
 'linea 1',
 'linea 2',
 'linea 3',
 'linea 4',
 'linea 5',
 'linea 6',
 'linea 7',
 'linea 8',
 'linea 9']

In [63]:
import re
[i for i in range(1,21) if re.search('^1', str(i))]

[1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
x = [
     "1234567890",
     "ABCDEFGHIJ",
     "abcdefghij",
     
]
#para cada fila en x, 
[row[2:5] for row in x]

['345', 'CDE', 'cde']

In [66]:
x = [
     
     "-->[123]<--",
     "---->[abc]<----",
     "---------->[ABCD]<----------",   
     
]
[row[row.find('[')+1:row.find(']')] for row in x] #buscar los datos entre corchetes y retornarlos

['123', 'abc', 'ABCD']

In [67]:
x = ["Bash is a Unix shell and command language",
     "written by Brian Fox for the ",
     "GNU Project as a free software",
     "replacement for the Bourne shell."]

In [68]:
[row.split() for row in x]

[['Bash', 'is', 'a', 'Unix', 'shell', 'and', 'command', 'language'],
 ['written', 'by', 'Brian', 'Fox', 'for', 'the'],
 ['GNU', 'Project', 'as', 'a', 'free', 'software'],
 ['replacement', 'for', 'the', 'Bourne', 'shell.']]

In [70]:
" ".join(['Bash', 'is', 'a', 'Unix', 'shell', 'and', 'command', 'language'])

'Bash is a Unix shell and command language'

In [71]:
m = [
     [1,2,3],
     [4,5,6],
     [7,9,9]

]
m

[[1, 2, 3], [4, 5, 6], [7, 9, 9]]

In [72]:
result = []
for row in m:
  for elem in row:
    result.append(elem)
result

[1, 2, 3, 4, 5, 6, 7, 9, 9]

In [73]:
m

[[1, 2, 3], [4, 5, 6], [7, 9, 9]]

In [74]:
m = [
     [1,2,3],
     [4,5,6],
     [7,8,9]
]

In [75]:
[[elem**2 for elem in row] for row in m]

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [78]:
#contar lineas de un archivo
!cat data.txt

"indice"_"Nombre"_"Valor"
1_"A"_1.01
2_"B"_2.02
3_"C"_3.03
4_"D"_4.04
5_"E"_5.05

In [82]:
with open("data.txt", "r") as file:
  lines = file.readlines()
  content = " ".join(lines) #crea string y cada linea va con la que sigue con espacio en blanco
  print(len(content.split())) #contar las palabras partidas por espacio en blanco

6

In [83]:
with open("data.txt", "r") as file:
  lines = file.readlines()
  content = "".join(lines) #crea string y cada linea va con la que sigue con espacio en blanco
  print(len(content)) #contar las palabras partidas por espacio en blanco

81

In [84]:
%%writefile data.csv
Date, Year, CustomerID, Value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-18, 2014, 1, 100
2014-06-23, 2014, 2, 200
2013-02-28, 2013, 1, 100
2013-08-02, 2013, 1, 100

Overwriting data.csv

In [85]:
!cat data.csv

Date, Year, CustomerID, Value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-18, 2014, 1, 100
2014-06-23, 2014, 2, 200
2013-02-28, 2013, 1, 100
2013-08-02, 2013, 1, 100

In [88]:
with open("data.csv", "r") as file:
  x = file.readlines()
x = [row[:-1] if row [-1] == "\n" else row for row in x] #quitar los \n
x

['Date, Year, CustomerID, Value',
 '2013-01-12, 2013, 1, 100',
 '2014-05-12, 2014, 1, 100',
 '2013-02-25, 2013, 2, 200',
 '2013-04-04, 2013, 1, 100',
 '2013-06-21, 2013, 2, 200',
 '2014-05-18, 2014, 1, 100',
 '2014-06-23, 2014, 2, 200',
 '2013-02-28, 2013, 1, 100',
 '2013-08-02, 2013, 1, 100']

In [91]:
with open("data.csv", "r") as file:
  x = file.readlines()
x = [row.replace('\n',"") for row in x]
x = [row.split(",") for row in x]

In [92]:
x

[['Date', ' Year', ' CustomerID', ' Value'],
 ['2013-01-12', ' 2013', ' 1', ' 100'],
 ['2014-05-12', ' 2014', ' 1', ' 100'],
 ['2013-02-25', ' 2013', ' 2', ' 200'],
 ['2013-04-04', ' 2013', ' 1', ' 100'],
 ['2013-06-21', ' 2013', ' 2', ' 200'],
 ['2014-05-18', ' 2014', ' 1', ' 100'],
 ['2014-06-23', ' 2014', ' 2', ' 200'],
 ['2013-02-28', ' 2013', ' 1', ' 100'],
 ['2013-08-02', ' 2013', ' 1', ' 100']]

In [93]:
[row[0].split("-")[1] for row in x[1:]] #toma el mes del archivo sin tomar el encabezado

['01', '05', '02', '04', '06', '05', '06', '02', '08']

In [94]:
x[1:] = [row + [row[0].split("-")[1]] for row in x[1:]]
x[0].append("Month")
x

[['Date', ' Year', ' CustomerID', ' Value', 'Month'],
 ['2013-01-12', ' 2013', ' 1', ' 100', '01'],
 ['2014-05-12', ' 2014', ' 1', ' 100', '05'],
 ['2013-02-25', ' 2013', ' 2', ' 200', '02'],
 ['2013-04-04', ' 2013', ' 1', ' 100', '04'],
 ['2013-06-21', ' 2013', ' 2', ' 200', '06'],
 ['2014-05-18', ' 2014', ' 1', ' 100', '05'],
 ['2014-06-23', ' 2014', ' 2', ' 200', '06'],
 ['2013-02-28', ' 2013', ' 1', ' 100', '02'],
 ['2013-08-02', ' 2013', ' 1', ' 100', '08']]

In [95]:
[row for row in x if row[1] == " 2013"]

[['2013-01-12', ' 2013', ' 1', ' 100', '01'],
 ['2013-02-25', ' 2013', ' 2', ' 200', '02'],
 ['2013-04-04', ' 2013', ' 1', ' 100', '04'],
 ['2013-06-21', ' 2013', ' 2', ' 200', '06'],
 ['2013-02-28', ' 2013', ' 1', ' 100', '02'],
 ['2013-08-02', ' 2013', ' 1', ' 100', '08']]